

<h1>{{title}}</h1>
<br>
<h3>Trip Details</h3>
Trip ID: {{id}}
<br>
Destination: {{destination}}
<br>
Dates: {{formatDate this.starting_date day="numeric" month="long" year="numeric"}} to {{formatDate this.end_date day="numeric" month="long" year="numeric"}}</p>

<br>
Total days: {{duration}}
<br> 
Budget per day: {{budget_day}}
<br>
Currency used: {{currency}}
<br>
Primary language spoken: {{primary_language}}
<br>
Group size: {{group_size}}
<br>
Trip description: {{description}}
<br>
Currency: {{currency}}
<br>


<h3>Philosophy</h3>
Trip Creator: {{authorId}}
<br>
Travel Philosophy: {{travel_philosophy}}
<br>

Who else is coming? : {{people}}


<br>
This trip's status: {{status}}

<form action="/added-to-trip" method="post">
Love this trip and want to come along?
<br>
<input type="hidden" name="trip_id" value={{id}}>
<br>
<input type="hidden" name="relationship_type" value="committed">
<br>
Enter your user ID # <input type="number" name="profile_id">
<br>
<button type="submit" class="join-trip">Join this trip!</button>
</form>
