{{!-- <h1>Trip Search Results</h1> --}}

<div class="view">
    {{#each trips}}
        
        <p>Trip ID: {{this.id}}</p>
        <p>Destination: {{this.destination}}</p>
        <p>Dates: {{formatDate this.starting_date day="numeric" month="long" year="numeric"}} - {{formatDate this.end_date day="numeric" month="long" year="numeric"}}</p>
        <p>Group size: {{group_size}} </p>
        <p><form action="/individual-trip/{{this.id}}" method="get">
            <button type="submit">Check this trip out</button>
        </form></p>
    {{/each}}

</div>