<div class="individual">
<h1>About {{fname}}</h1>
<br>
<img src="{{picture}}">
<br>
<h3>{{fname}} {{lname}}</h3>
{{description}}
<div><br></div>
Gender: {{gender}}
<br>
Travel Philosophy: {{travel_philosophy}}
<br>
Primary language spoken: {{primary_language}}
<br>
E-mail: {{email}}
<br>
A registered freespirit since {{formatDate this.createdAt day="numeric" month="long" year="numeric"}}
</div>